:host {
    --ion-color-primary: #A3C6E1; // Color celeste
    --ion-color-dark: #003D99; // Color oscuro para el texto
    --ion-color-light: #E6F4FA; // Color claro para el fondo
  }
  
  ion-header {
    background-color: var(--ion-color-primary);
  }
  
  ion-toolbar {
    background-color: var(--ion-color-primary);
    color: var(--ion-color-dark);
  }
  
  ion-title {
    color: var(--ion-color-dark);
  }
  
  
  ion-label {
    color: var(--ion-color-dark);
  }
  
  ion-content {
    background-color: var(--ion-color-light);
  }
  